[submodule "bots/rise_quotes"]
	path = bots/rise_quotes
	url = https://github.com/DogeDoge17/rise_quotes.git
[submodule "bots/hourlynatsuki"]
	path = bots/hourlynatsuki
	url = https://github.com/DogeDoge17/hourlynatsuki.git
[submodule "bots/adachireaction"]
	path = bots/adachireaction
	url = git@github.com:https://github.com/DogeDoge17/adachireaction.git
[submodule "bots/nino"]
	path = bots/nino
	url = https://github.com/DogeDoge17/nino-ss-bot.git
